@use "../abstracts/variables" as var;

.why-us {
  margin: 2.5rem auto;
  padding: 32px;
  text-align: center;

  .inner-content .image {
    margin-inline: auto;
    max-width: 500px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    color: var.$tertiary-color;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .why-us-description {
    color: var.$primary-color;
    margin-top: 10px;
  }
}
